@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #000000, #434343);
  }
  50% {
    background: linear-gradient(45deg, #434343, #000000);
  }
  100% {
    background: linear-gradient(45deg, #000000, #434343);
  }
}

/* Встановлення градієнту і анімації на фон */
body {
  background: linear-gradient(45deg, #000000, #434343);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}
